body {
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    transition: 0.3s;
}

header {
    text-align: center;
    margin-top: 30px;
}

header h1 {
    background-color: #161616;
    padding: 15px;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 10px;
}
body.light h1 {
    background-color: #b8b8b8;
}

main {
    background-color: #292929;
    max-width: 500px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
    box-sizing: border-box;
}

#outputPassword {
    background-color: #353535;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

#generatePassword {
    width: 50%;
    margin-top: 10px;
}

body.light {
    background-color: #eeeeee;
    color: #222;
}

body.light main {
    background-color: #ffffff;
}

body.light #outputPassword {
    background-color: #eeeeee;
}
a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #555;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    margin-top: 10px;
}